@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;display=swap);
.navbar-nav > li {
  background-color: rgba(3, 169, 245, 0.4);
}
#avatar {
  border: 1.4px solid rgba(3, 169, 245, 0.7);
  border-radius: 50%;
}
#anon-invoice .modal-content {
  background: rgb(192, 234, 253) !important;
}
#phoneNumber,
#code,
#inputEmail {
  color: rgb(15, 61, 96) !important;
  box-shadow: 0 0 0 2.1px rgb(87, 198, 248);
}
#copy-text,
.lesnar,
.butn.white.in-cart,
.butn.in-cart,
#cartlength,
#copy, 
.home-btn {
  background: rgb(192, 234, 61) !important;
}
#copy2 {
  background: rgb(171, 226, 82) !important;
}
.home-btn:hover {
  border: 1.4px solid rgb(211, 240, 43) !important;
}
.phone-btn {
  background: rgb(106, 240, 149) !important;
}
.phone-btn:hover {
  border: 1.4px solid rgb(106, 240, 149) !important;
}
.ver-btn {
  background: rgb(1, 234, 253) !important;
}
.ver-btn:hover {
  border: 1.4px solid rgb(1, 234, 253) !important;
}
#preloader:before {
  border: 3px solid #03a9f5;
}
#preloader:after {
  border: 3px solid #03a9f5;
}
a:hover,
a:active {
  color: #03a9f5;
  text-decoration: none;
}
#pay-invoice,
#anon-invoice,
.empty-cart, #email-invoice, 
#phone-invoice {
  border: 7px solid rgba(3, 169, 245, 0.7) !important;
}
.thegold {
  background-color: rgba(3, 169, 245, 0.3);
}
.hermes.tparrows,
.hermes .tp-arr-allwrapper {
  border: 1.4px solid rgba(3, 169, 245, 0.3);
}
.hermes.tparrows:before,
.hermes .tp-arr-titleholder {
	color:#03a9f5;
}
@media screen and (max-width: 1092px) {
  .navbar-nav{
    border: 1.4px solid rgba(3, 169, 245, 0.7) !important;
    box-shadow: 0px 5px 10px 0px rgba(3, 169, 245, 0.7);
  }
  .navbar-nav li {
    border-bottom: 1.4px solid rgba(3, 169, 245, 0.3);
  }
  .navbar-toggler {
    border: 1.1px solid #03a9f5;
    box-shadow: 0 0 0 1.1px rgb(87, 198, 248)
  }
  .navbar-toggler:after {
    border-bottom: 2.5px solid #03a9f5;
  }
  .navbar-toggler:before {
    background: #03a9f5;
    border: 1.2px solid #03a9f5;
  }
  .navbar-toggler.menu-opened:after {
    background: #03a9f5;
  }
  .navbar-toggler.menu-opened:after {
    border: 1.4px solid #03a9f5 !important;
  }
  .navbar-toggler.menu-opened:before {
    border: 1.4px solid #03a9f5 !important;
  }
  .navbar-toggler:after {
    border-top: 2.5px solid #03a9f5;
  }
}
.attr-nav > ul > li.dropdown ul.dropdown-menu {
  border: 1.4px solid rgba(3, 169, 245, 0.7) !important;
  box-shadow: 0px 5px 10px 0px rgba(3, 169, 245, 0.7);
}
.attr-nav > ul > li.dropdown ul.dropdown-menu li {
  border-bottom: 1.4px solid rgba(3, 169, 245, 0.3) !important;
}

.navbar-default {
  border-bottom: 1.4px solid rgba(3, 169, 245, 0.49);
}

.text-theme-color {
  color: #03a9f5;
}
#todo-input {
  box-shadow: 0 1px 3px 0 #03a9f5 !important;
  border: 0.7px solid #03a9f5 !important;
}
blink {
  background: #03a9f5;
}
blink.high {
  color: #03a9f5;
  border: 1.4px solid #03a9f5;
}
.separator {
	background: #03a9f5;
}
.banner-words-wrapper b {
  color: #03a9f5;
}
.banner-headline .banner-words-wrapper:after {
	background: #03a9f5;
}
.scroll-to-top {
  border: 2px solid #03a9f5;
}
.scroll-to-top:hover {
  color: #03a9f5;
}
.scroll-to-top:hover i {
  color: #03a9f5;
}
.scroll-to-top:visited {
  color: #03a9f5;
}
.t-head{
  text-shadow: 0 0 1.4px rgba(3, 169, 245, 0.92);
}
.butn {
  border: 1.4px solid #03a9f5;
}
.scroll-down{
  border: 1.4px solid #03a9f5;
}
.butn.white.scroll-down:after{
  background: #03a9f5;
}
.butn.white.scroll-down > .fa-angle-down{
  color: #03a9f5;
}
.butn:after {
  background: #03a9f5;
}
.butn.white:hover {
  border: 1.4px solid #03a9f5;
}
.butn.in-cart {
  border: 1.4px solid #03a9f5 !important;
}
.butn.in-cart:hover {
  border: 1.4px solid #03a9f5 !important;
}
.section-heading h4:after {
  background: #03a9f5;
}
.money,
#thetot1,
.lesnar {
  border: 1.4px solid #03a9f5;
}
.navbar-nav li.nav-small a,
.butn.gold {
  border: 1.4px solid rgba(3, 169, 245, 0.8);
  background: rgb(205, 238, 253);
}
.navbar-nav li.nav-small.open a {
  background: #03a9f5;
  border: 1.4px solid rgb(205, 238, 253);
}
.navbar-nav li.nav-small.open a::after {
  background: rgb(205, 238, 253);
}
#jinaHolder4,
#jinaHolder3 {
  border: 1.4px solid rgb(15, 57, 90) !important;
  color: rgb(66, 191, 248) !important;
}
.gta,
.gta-boa {
  border: 1.4px solid rgba(3, 169, 245, 0.7);
}
#the-pic2,
#the-pic {
  border: 1.4px solid rgba(3, 169, 245, 0.7);
}
#chart3, #chart4, #chart1, #chart2 {
  border: 1.4px solid rgba(3, 169, 245, 0.49);
  background: rgba(3, 169, 245, 0.14) !important;
} 
.modal-content {
  border: 1.4px solid rgba(3, 169, 245, 0.49);
}
#nameBro1,
#nameBro2,
#nameBro3,
#textBro,
#photo,
#photo2,
#text {
  background: rgba(3, 169, 245, 0.07) !important;
  border: 0.7px solid rgba(3, 169, 245, 0.21);
}
#the-id,
#the-ip,
#the-date,
#the-mail,
#the-mail2,
#the-id2,
#the-date2 {
  color: rgb(66, 191, 248) !important;
  border: 1.4px solid rgb(14, 69, 106) !important;
}
.ticketz .modal-body label,
#vpnModal .modal-body div label {
  color: #03a9f5 !important;
}
.change {
  border: 1.4px solid rgba(3, 169, 245, 0.03) !important;
}

.progress-bar-striped {
	border: 0.7px solid rgba(3, 169, 245, 0.49) !important;
  box-shadow: 0 0 0 0.7px rgba(3, 169, 245, 0.7) !important;
}

.custom-file-label {
  background: rgba(3, 169, 245, 0.07) !important;
  border: 0.7px solid rgba(3, 169, 245, 0.21);
  box-shadow: 0 0 0 0.7px rgba(3, 169, 245, 0.28);
}
.custom-file-label::after {
  border: 1.7px solid rgba(3, 169, 245, 0.92) !important;
}


.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #03a9f5;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  border: 1.4px solid rgba(3, 169, 245, 1);
}
#loginModal .modal-content,
#phoneModal .modal-content,
#verifyModal .modal-content,
#vpnModal .modal-content,
#profileModal .modal-content,
#exampleModal .modal-content {
  background: rgba(13, 76, 116, 0.5) !important;
  border: 1.4px solid rgba(3, 169, 245, 0.7) !important;
  box-shadow: 0px 5px 10px 0px rgba(3, 169, 245, 0.3);
}
#modalsend {
  background: rgba(3, 169, 245, 0.25) !important;
}
.bg-bro {
  background-color: rgba(3, 169, 245, 1);
}
.scroll-down,
#settings,
.modal-btn,
#todo-btn, 
.custom-file-label::after,
#tele-link,
#vpn,
#showtoasts,
#thetot1, 
.money {
  background: rgb(201, 237, 253) !important;
  box-shadow: 0 0 0 1px rgb(129, 212, 250);
  color: rgb(16, 52, 83) !important;
}

.modal-body div p,
.account {
  border: 1.4px solid rgba(3, 169, 245, 0.3);
}
#profileModal .modal-content {
  border: 1.4px solid rgba(3, 169, 245, 0.7) !important;
  box-shadow: 0px 5px 10px 0px rgba(3, 169, 245, 0.3);
}
#loginModal .modal-header .close img,
#phoneModal .modal-header .close img,
#verifyModal .modal-header .close img,
#vpnModal .modal-header .close img,
#profileModal .modal-header .close img,
#exampleModal .modal-header .close img,
.btn-remove {
  border: 1.4px solid rgba(3, 169, 245, 0.7);
}
.modal-body {
  border: 1.4px solid rgba(3, 169, 245, 0.21);
}
.accordion-style .btn-link {
  background: rgb(129, 212, 250) !important;
  color: rgb(15, 61, 96) !important;
}
.accordion-style .btn-link:hover {
  background: #03a9f5 !important;
}
#modal-flag,
#the-flag,
.thehr {
  border: 0.7px solid rgba(3, 169, 245, 0.3);
}
#vpn-nav {
  border: 1.4px solid rgba(3, 169, 245, 0.92);
  background: rgba(3, 169, 245, 0.92);
}
#canvas3,
#canvas,
#canvas2 {
  border: 1.4px solid #03a9f5;
}
#canvas:hover {
  box-shadow: 0 25px 30px 0 #03a9f5;
}
#showtoasts {
  border: 1.4px solid rgba(3, 169, 245, 0.7);
}
#text-to-copy {
  border: 1.4px solid rgba(3, 169, 245, 0.3);
}
.progress{
  border: 1.4px solid rgba(3, 169, 245, 0.3);
}

.port a img{
  border: 1.4px solid rgba(3, 169, 245, 0.49);
  border-bottom: none;
}
.port h4{
  border: 1.4px solid rgba(3, 169, 245, 0.49);
}
.port:hover {
  box-shadow: 0 3px 7px 0 rgba(3, 169, 245, 0.7);
}
#invoice-table,
#modalsend {
  border: 1.4px solid rgba(3, 169, 245, 0.3);
}
.pricing-list {
  border: 1.5px solid rgba(3, 169, 245, 0.49);
  background: rgb(17, 35, 60);
}
.pricing-list:hover {
  box-shadow: 0 5px 10px 0 #03a9f5;
}
.pricing-list ul li:after {
  background: rgba(3, 169, 245, 0.25);
}





.pricing-list.highlight {
  background: rgb(108, 205, 249);
  border: 1.4px solid #03a9f5;
}
.pricing-list h2,
.pricing-list ul li {
  color: rgba(3, 169, 245, 0.92);
}
.pricing-list h2.text-white,
.pricing-list ul li.text-white {
  color: rgb(15, 61, 96) !important;
}
.pricing-list button {
  color: rgb(14, 64, 100) !important;
  border: 1.4px solid #03a9f5 !important;
}
.pricing-list.highlight button {
  color: rgb(15, 61, 96) !important;
  border: 1.4px solid rgb(15, 61, 96) !important;
}
.pricing-list.highlight button.white::after {
  background: rgb(15, 61, 96) !important;
}
.pricing-list ul li.text-white:nth-child(1)::-webkit-scrollbar-thumb {
  background: rgb(11, 99, 148)
}
.pricing-list.highlight ul li:after {
  background: rgba(11, 99, 148, 0.3);
}






.bro-text p:after{
	background: rgba(3, 169,245, 0.92);
}



::-webkit-scrollbar-thumb {
  background: rgba(3, 169, 245, 0.81);
}
.fa-toggle-on {
  color: #03a9f5;
  border: 1.4px solid rgba(3, 169, 245, 0.3);
}
.fa-toggle-off {
  color: #03a9f5;
  border: 1.4px solid rgba(3, 169, 245, 0.3);
}
#style-switcher {
  box-shadow: 0px 7px 21px 0 rgba(3, 169, 245, 0.3);
  border: 1.4px solid rgba(3, 169, 245, 0.3);
}
.filtering .butn {
  border: 1.4px solid rgba(3, 169, 245, 0.81);
  color: #03a9f5;
  background: rgb(17, 35, 60);
}
.filtering .butn.white:after{
  background: rgb(17, 35, 60);
}
.filtering .butn.white {
  background: rgb(108, 205, 249);
  color: rgb(15, 61, 96);
  border: 1.4px solid #03a9f5;
}
.filtering .butn.white > i {
  color: rgb(15, 61, 96);
}
.filtering .butn.white:hover{
  box-shadow: 0 1px 2px 0 #03a9f5;
  border: 1.4px solid #03a9f5;
  transform: scale(1.07);
  color: #03a9f5;
}
.filtering .butn > i {
  color: #03a9f5;
}
.filtering .butn.white:hover i{
  color: #03a9f5;
  transition: all 0.7s ease;
}

#invoice-table {
  background: rgba(3, 169, 245, 0.31) !important;
}